doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Document
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    body
        .menu
            .title
                | FORMOSA OJ
            .nav
                .language
                    | EN
                ul
                    li
                        | feature
                    li
                        | Contest
                    li
                        | Partner
                    li
                        | Contact Us
        div.intro

            .info
                .fox
                    img(src="fox-oj.png" alt="fox")
                .signbox
                    .welcome
                        span 
                            | THE BEST
                        span
                            | ONLINE JUDGE
                        span
                            | WE BRING TO YOU
                    .signup.orangeBtn
                        a(href="https://oj.nctu.me/" target="blank")
                            p
                                | SIGN UP
        div.Feature.section
            .info
                | WHAT ARE <br>THE FEATURE
                div.subtitle
                    span
                    | By providing such features, we let you enjoy to code<br>without anything more, try it, you will like it! 
            .sectionContent
                ul
                    li
                        .featureContainer
                            .featureImg
                                img(src="f1.svg", alt="alt")
                            .featureMention
                                .title
                                    | High Scalability
                                .content
                                    | Use docker to seperate database and server, We will hold Nginx to the backward analysis.
                    li
                        .featureContainer
                            .featureImg
                                img(src="f2.svg", alt="alt")
                            .featureMention
                                .title
                                    | High Security
                                .content
                                    | Cover Judge`s core with sandbox, and use docker at the outside to make sure the security.
                            
                    li
                        .featureContainer
                            .featureImg
                                img(src="f3.svg", alt="alt")
                            .featureMention
                                .title
                                    | High Speed
                                .content
                                    | We make sure that each query`s running time will less than 100ms.
                    
        div.Judge.section.reverse
            .info
                | JUDGE INTRO.
                div.subtitle
                    span
                    | simple, but powerful.<br>we bring you to a totally brand new era.
            .sectionContent
                .desktopJudge
                    img(src="desktopJudge.png", alt="desktopJudge")
                .mobileJudge
                    img(src="mobileJudge.png", alt="mobileJudge")
            .cubeContent
                ul
                    - for (var x = 1; x <= 16; x++)
                        li.cube(class='cube' + x)
                            img(src="cube.svg", alt="alt")
        div.Upcoming.section
            .info
                | UP COMING
                div.subtitle
                    span
            .sectionContent
                .mention
                    .FutureContent
                        p
                            | We received a slew of new features in the past few months and is set to get many more in the near future…
                    .FutureFeature
                        span
                            | Community
                        span
                            | |
                        span
                            | Friend
                        span
                            | |
                        span
                            | New UI
                    .FutureBtn.orangeBtn
                        a(href="https://oj.nctu.me/" target="blank")
                            p
                                | Try OJ Today
                .fox
                    img(src="./nctu-fox.png", alt="alt")
        //- div.feature
        //-     .info
        //-         .Skill
        //-             span 
        //-                 | WHAT 
        //-             span
        //-                 | ARE THE
        //-             span
        //-                 | SKILLS?
        //-     .property
        //-         ul
        //-             li
        //-                 div
        //-                     .propsImg
        //-                         img(src="h1.png" alt="scale")
        //-                     .propsInfo
        //-                         h2
        //-                             | High Scalability
        //-                         p
        //-                             | Use docker to seperate database, server. We will hold Nginx to backward analysis.
        //-             li
        //-                 div
        //-                     .propsImg
        //-                         img(src="h2.png" alt="scale")
        //-                     .propsInfo
        //-                         h2
        //-                             | High Security
        //-                         p
        //-                             | We cover Judge`s core with sandbox, and also use docker at the outside to make sure the security.
        //-             li
        //-                 div
        //-                     .propsImg
        //-                         img(src="h3.png" alt="scale")
        //-                     .propsInfo
        //-                         h2
        //-                             | High Speed
        //-                         p
        //-                             | We make sure that each query running time will less than 100ms.

        //- div.record
        //-     ul
        //-         li
        //-             div.section.normal
        //-                 .blue
        //-                     .recordImg
        //-                         img(src="m1.jpg" alt="record")
        //-                     .recordinfo
        //-                         h2
        //-                             | PTT World Final
        //-                         p
        //-                             | 2016/4/10 Taiwan,Taipei
        //-                 .white
        //-                     .info
        //-                         span
        //-                             | PAST
        //-                         span
        //-                             | COMPETITION
        //-                         span
        //-                             | RECORD
        //-         li
        //-             div.section.reverse
        //-                 .blue
        //-                     .recordImg
        //-                         img(src="m2.jpg" alt="record")
        //-                     .recordinfo
        //-                         h2
        //-                             | NCTU Ultimate Battle
        //-                         p
        //-                             | 2016/4/10 Taiwan,Taipei
        //-                 .white
            //- .partnerContainer
            //-     .part 
            //-         img(src="airbnb.svg")
            //-     .part 
            //-         img(src="facebook.svg")
            //-     .part 
            //-         img(src="google.svg")
            //-     .part 
            //-         img(src="disney.svg")
            //-     .part 
            //-         img(src="dropbox.svg")
            //-     .part 
            //-         img(src="amazon.svg")
        //- div.partner
        //-     .info
        //-         | PARTNERS
        //-     .partnerContainer
        //-         .part 
        //-             img(src="airbnb.svg")
        //-         .part 
        //-             img(src="facebook.svg")
        //-         .part 
        //-             img(src="google.svg")
        //-         .part 
        //-             img(src="disney.svg")
        //-         .part 
        //-             img(src="dropbox.svg")
        //-         .part 
        //-             img(src="amazon.svg")
        div.footer
            .info
                .NCTUOJ
                    .logo
                        img(src="fox-bg.png" alt="logo")
                    .mention
                        p
                            | Formosa OJ is a universal online judge that allow you to practice, compete, and train your sexy body with code. if you love it, make sure you stick with FOJ all day long!
                .contactus
                    .developer
                        h2
                            | Author
                        span 
                            | 陳俊凱 (Tocknicsu) <br>
                        span
                            | 吳赫倫 (Fat.F.Cat)

                    .contact
                        h2
                            | Designer
                        span
                            | 林立秦 (lichin-Lin)
                .contactus
                    .developer
                        h2
                            | Contact us
                        span 
                            | cat@home.com <br>
                        span
                            | formosaoj@gmail.com
                    .contact
                        h2
                            | Get in touch
                        span
                            | 020409025 (world wide)                      
            .thank
                .reserve
                    | Copyright © 2016 Formosa OJ. All rights reserved
            
        script(src="oj.js")
