@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
//@import url('/OldNews/hkgokukaikk');
@font-face {
    font-family: "hkgokukaikk";
    src: url('/OldNews/webfont/hkgokukaikk.eot'),
         url('/OldNews/webfont/hkgokukaikk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'linesregular';
    src: url('/OldNews/webfont/lines-regular-webfont.eot');
    src: url('/OldNews/webfont/lines-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/OldNews/webfont/lines-regular-webfont.woff2') format('woff2'),
         url('/OldNews/webfont/lines-regular-webfont.woff') format('woff'),
         url('/OldNews/webfont/lines-regular-webfont.ttf') format('truetype'),
         url('/OldNews/webfont/lines-regular-webfont.svg#linesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "linesregular";
}
body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: url("dark.png");
  background-repeat: repeat;
  background-size: 100px, 50px;
}
#status {
  font-family: 'Raleway';
}
.OldNews_title {
  width: auto;
  height: 30vh;
  top: 0;
  right: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.OldNews_title div {
  font-size: 10em;
  padding: 0;
  margin: 0;
  letter-spacing: 10px;
}
.OldNews_title span {
  font-size: 1.85em;
  letter-spacing: 1px;
  margin-top: -20px;
}
.pseudo-scroller {
  //height: 1279px;
  width: 100%;
  pointer-events:none;
}
.scroll {
  transform-style: preserve-3d;
  transform: translateX(-15vw) translateY(275px) rotateX(45deg) rotateZ(45deg);
  width: 70vw;
  max-height: 900px;
  height: calc(100vh - 280px);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.OldNews_container {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform: translate3d(0px, -599px, 0px);
}
#OldNews {
  display: flex;
  flex-direction: column;
  font-family: 'cwTeXFangSong';
  background: #E5DFDA;
  padding: 10px;
  background: url("ricepaper.png");
  background-repeat: repeat;
  background-size: 1500px, 1500px;
}
#News_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  background: rgba(#50514f,50%);
  margin: 10px;
}
/*🏮🏮🏮---- NEWS TITLE -----🏮🏮🏮*/
.yo {
  width: auto;
  height: auto;
  position: absolute;
  //top: 0;
  //left: 0;
  //z-index: 3;
  background: rgba(255,255,255,0.25);
}
.News_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}
.News_title p{
  font-size: 5em;
  font-family: 'hkgokukaikk', serif;
  text-align: center;
  letter-spacing: -15px;
  color: #50514f;
  margin: 20px 20px 0px 20px;
  padding: 0;
  width: 550px;
  text-shadow: -1px -1px 1px #000000, 1px 1px 1px #CCCCCC;
}
.📅📅📅{
  margin-top: 10px;
  text-align: right;
}
.📅📅📅 span{
  font-family: 'hkgokukaikk', serif;
  margin-right: 10px;
  padding: 0;
  font-size: 1.5em;
  color: #50514f;
  width: auto;
}
.🎐🎐🎐{
  width: 100%;
  height: 120px;
  border: 1px solid #50514f;
}
/*🏮🏮🏮---- NEWS TITLE -----🏮🏮🏮*/

/*🎉🎉🎉---- NEWS CONTAINER -----🎉🎉🎉*/
.post_container {
  //background: #FCFCFC;
  position: relative;
  margin: 2.5px 0px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}
.post_border {
  //border: 1px solid #50514f;
}
.post_title, .other_post_title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding:5px 3px 3px 3px;
  //max-width: 320px;
}
.other_post_title a{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .35s ease;
  width: 90%;
  padding: 5px 10px;
}
.other_post_title a:hover{
  background-color: #9BC59D;
}
.other_post_title a:hover > p{
  color: #6F706D;
  transform: scale(1.05);
  transition: all .5s ease;
}
.post_title p, .other_post_title p{
  width: 97.5%;
  font-size: .85em;
  color: #50514f;
  transition: all .5s ease;
}
.other_post_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  //max-width: 320px;
}
.other_post_title span{
  width: 90%;
  color: #50514f;
  background: #50514f;
  height: 3px;
  margin: 3px 0;
}
.other_post_title p {
  font-size: 1.5em;
  font-weight: 700;
  width: 80%;
  padding: 0;
  margin: 0;
}
.post_content {
  padding: 10px;
  height: auto;
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  //transform: rotate(180deg);
}
.post_content p{
  padding: 0;
  margin: 0;
  color: #50514f;
  //transform: rotate(180deg);
  //width:1.25em;
  font-size: 1.2em;
  //word-wrap: break-word;
  //white-space: pre-wrap;
  font-family: 'cwTeXFangSong';
  text-align: left;
  text-align: -webkit-left;
  line-height: 1.15;
}
/*.post_content {
  padding: 30px;
  height: auto;
  width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  transform: rotate(180deg);
}
.post_content p{
  transform: rotate(180deg);
  width:1.25em;
  font-size: 1.2em;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'cwTeXFangSong';
  //text-align: left;
}*/

.post_img {
  width: 100%;
  height: 100%;
}
.post_img img{
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(0.75) sepia(0.2);
    filter: grayscale(0.75) sepia(0.2);
}
/*🎉🎉🎉---- NEWS CONTAINER -----🎉🎉🎉*/
@media (max-width:768px){
  .OldNews_title {
    left: 0;
    right: 0;
  }
  .OldNews_title div{
    transform: scale(.65);
    transition: all .35s ease;
  }
  .OldNews_title span {
    font-size: 1.25em;
    margin-top: -50px;
  }
  .post_container{
    width: 100%;
  }
  .post_content {
    align-items: center;
    width: 100%;
  }
  .post_title, .other_post_title {
    width: 100%;
    //max-width: 576px;
  }
  .post_img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px){
  .scroll {
    transform: translateX(-10vw) translateY(200px) rotateX(45deg) rotateZ(45deg);
  }
  body {
    padding: 10px;
  }
  .OldNews_title {
    left: 0;
    right: 0;
  }
  .OldNews_title div{
    transform: scale(.45);
    transition: all .35s ease;
  }
  .OldNews_title span {
    font-size: .75em;
    margin-top: -50px;
  }
  .News_title p{
    font-size: 3.5em;
  }
  #OldNews {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  #News_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .post_container{
    width: 100%;
  }
  .post_content {
    align-items: center;
    width: 100%;
  }
  .post_title, .other_post_title {
    width: 100%;
    //max-width: 576px;
  }
  .post_img {
    width: 100%;
    height: 100%;
  }
}
